<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-list-header>
      <ion-label>
        Animais
      </ion-label>
    </ion-list-header>



    <ion-item>
      <ion-label>Selecione</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="A">Água</ion-select-option>
        <ion-select-option value="L">Luz</ion-select-option>
        <ion-select-option value="C">Combustível</ion-select-option>
        <ion-select-option value="T">Telefone</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>
